.popup {
    display: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    .popup {
        padding: 0 19px;
    }
}
