.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    padding-bottom: 13px;
    margin: 0;
    padding: 0 0 13px;
    height: 14px;
    /*margin-bottom: 30px;*/
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.popup__input:focus {
    outline: 2px solid lightblue;
}

@media only screen and (max-width: 767px) {
    .popup__input {
       padding: 0 0 13px;
    }
}
