.profile__edit {
    padding: 0;
    margin-bottom: 9px;
    background: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    border: 1px solid #fff;
    grid-area: edit-btn;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    justify-self: center;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s ease-out;
}

.profile__edit:hover {
    cursor: pointer;
    opacity: .6;
}


@media only screen and (max-width: 767px) {
    .profile__edit {
        align-self: center;
        margin-left: 10px;
        margin-bottom: 0;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}