.card__button {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    border: none;
    background: url(../../../images/like.svg) no-repeat;
    background-position: center;
    background-size: 22px 19px;
    transition: all .2s ease-in-out;
}

.card__button:hover {
   cursor: pointer;
   opacity: 0.5;
}

