.profile__add {
    width: 150px;
    height: 50px;
    background: url(../../../images/add.svg) no-repeat;
    background-position: center;
    background-size: 24px 24px;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    border: 2px solid #fff;
    transition: opacity .2s ease-out;
}

.profile__add:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media only screen and (max-width: 767px) {
    .profile__add {
        width: 100%;
    }
}