.popup__box {
    margin: 0;
    padding-top: 34px;
    padding-left: 36px;
    padding-bottom: 37px;
    padding-right: 36px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    padding: 34px 36px 37px;
    position: fixed; 
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    .popup__box {
        width: 282px;
        padding: 25px 22px;
    }
}
