.popup__box {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    height: 330px;
    border: none;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    border-radius: 10px;
    width: 430px;
    padding: 34px 36px 37px;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    .popup__box {
        width: 282px;
        padding: 25px 22px;
    }
}
