.popup__cancel {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -38px;
    border: none;
    background: url(../../../images/exit.svg);
    background-size: contain;
    transition: opacity .2s ease-in-out;
}

.popup__cancel:hover {
    opacity: .6;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .popup__cancel {
        width: 20px;
        height: 20px;
        right: 0;
        top: -34px;
    }
}
