.popup__cancel {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 102%;
    top: -12%;
    border: none;
    background: url(../../../images/exit.svg);
    background-size: contain;
    transition: opacity .2s ease-in-out;
}

.popup__cancel:hover {
    opacity: .6;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .popup__cancel {
        width: 20px;
        height: 20px;
        left: 95%;
        top: -10%;
        /*transform: translateX(-50%);*/
    }
}