.footer {
    width: 100%;
    margin: 0;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media only screen and (max-width: 900px) {
    .footer {
        width: calc(100% - 38px);
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}