.popup__inputs {
    display: flex;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    border: none;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 767px) {
    .popup__inputs {
        margin-bottom: 45px;
    }
}
